-r requirements.txt
coverage==7.1.0
django-stubs==6.0.4
django-test-migrations==1.5.0
factory-boy==3.2.1
faker==40.15.0
mypy==2.1.0
pytest==9.0.3
pytest-celery==1.3.0
pytest-django==4.5.2
pytest-env==1.6.0
pytest-rerunfailures==16.2
pytest-sugar==1.1.1
