-r requirements.txt
black==26.3.1
coverage==6.5.0
coveralls==4.1.0
factory-boy==3.2.1
Faker==40.15.0
flake8==7.3.0
isort==8.0.1
pre-commit==4.6.0
pytest-django==4.5.2
responses==0.26.0

# mypy and PEP 561 stubs
mypy==2.1.0
django-stubs==6.0.4
djangorestframework-stubs==3.16.9
types-requests==2.28.11.8
